* {
  box-sizing: border-box;
}
.body{
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a{
  float: left;
  padding: 14px 16px;
  display: block;
  text-decoration: none;
  color: #D22B2B;
  font-size: 20px;
  font-family: fantasy;
  opacity: 0.9;
  border-radius: 5px;
  margin-bottom: 10px;
}
.navbar a:hover{
  background-color: #D22B2B;
 border-color: #D22B2B;
  color: white;
}
/*grid*/
.column {
  float: left;
  padding: 10px;
}
.quarter{ width: 25%; text-align: center; }
.first { width: 33.3%;}
.last { width: 66.6%;}
.middle { width: 100%;}

.row{
  margin: 5px
}
.row:after, {
  content: "";
  display: table;
  clear: both;
}
/*flexbox*/
.col-container {
  display: flex;
  width: 100%;
  margin: 5px;
}
.col {
  flex: 1;
  padding: 16px;
  background-color: 	#6F8FAF;

}
.col h1{
  color:floralwhite;
  font-family: serif;
  font-size: 50px;
  padding: 60px 90px 0px 90px;
}
.col h2{
  color: floralwhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  padding: 95px 90px 5px 90;
}
.col p{
   padding: -95px 90px 5px 90;
}

  .img{
  object-fit: cover;
}
.center{
  text-align: center;
  font-size: 25px;
  font-family: fantasy;
  text-decoration-line: underline;
  padding: 20px;
  color:  #D22B2B;  
}
.port{
  text-align: center;
  font-family: fantasy;
  color: #D22B2B;
}
/*button*/
.button {
  border: 2px solid #D22B2B;
  border-radius: 5px;
  background-color: white;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  color: #D22B2B;
}

.button:hover {
  background-color: #D22B2B;
 border-color: #D22B2B;
  color: white;
}

.skills {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 90%; background-color: #04AA6D; border-radius: 5px;}
.css {width: 80%; background-color: #2196F3; border-radius: 5px}
.js {width: 70%; background-color: #f44336; border-radius: 5px}
.php {width: 60%; background-color: yellow; border-radius: 5px}

.footer {
  text-align: center;
  padding: 3px;;
  color: #D22B2B;
  width: 100%;
}
.footer img{
   border-radius: 25px;
   
}
